---
import { SITE_TITLE } from "../consts";

const pages = [
  {
    url: "https://ridgeline-house.s3.us-west-2.amazonaws.com/plans.pdf",
    title: "plans",
  },
  {
    url: "https://autode.sk/3s9y1oA",
    title: "3D model",
  },
  {
    url: "/inspiration",
    title: "inspiration",
  },
];
---

<header class="absolute inset-x-0 top-0 z-50">
  <div class="mx-auto max-w-7xl">
    <div class="px-6 pt-6 lg:max-w-2xl lg:pl-8 lg:pr-0">
      <nav
        class="flex items-center justify-between lg:justify-start"
        aria-label="Global"
      >
        <a href="/" class="-m-1.5 p-1.5">
          <span>{SITE_TITLE}</span>
        </a>
        <button
          id="mobile-menu-burger"
          type="button"
          class="-m-2.5 rounded-md p-2.5 text-gray-700 lg:hidden"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
          </svg>
        </button>
        <div class="hidden lg:ml-12 lg:flex lg:gap-x-10">
          {
            pages.map((page) => {
              return (
                <a
                  href={page.url}
                  class="text-sm font-semibold leading-6 text-gray-900"
                >
                  {page.title}
                </a>
              );
            })
          }
        </div>
      </nav>
    </div>
  </div>
  <div
    id="mobile-menu"
    class="lg:hidden invisible"
    role="dialog"
    aria-modal="true"
  >
    <div class="fixed inset-0 z-50"></div>
    <div
      class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
    >
      <div class="flex items-center justify-between">
        <a href="/" class="sm:hidden -m-1.5 p-1.5">
          <span>{SITE_TITLE}</span>
        </a>
        <button
          id="mobile-menu-close"
          type="button"
          class="-m-2.5 rounded-md p-2.5 text-gray-700"
        >
          <span class="sr-only">Close menu</span>
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            {
              pages.map((page) => {
                return (
                  <a
                    href={page.url}
                    class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                  >
                    {page.title}
                  </a>
                );
              })
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<script>
  const mobileMenu = document.querySelector("#mobile-menu");

  const mobileMenuBurger = document.querySelector("#mobile-menu-burger");
  mobileMenuBurger?.addEventListener("click", () => {
    mobileMenu?.classList.remove("invisible");
  });

  const mobileMenuClose = document.querySelector("#mobile-menu-close");
  mobileMenuClose?.addEventListener("click", () => {
    mobileMenu?.classList.add("invisible");
  });
</script>
